page-scan-qrcode {
  html, 
  body, 
  ion-app, 
  ion-content, 
  ion-page, 
  .nav-decor,
  & + .nav-decor {
    background: none transparent !important;
  }

  .line {
    position: absolute;
    z-index: 999;
    top: 15px;
    height: 2px;
    width: 100%;
    background-color: #009900;
    animation: scan 1s infinite alternate;
  }

  @keyframes scan {
    from {
      top: 20%;
    }
    to {
      top: 80%;
    }
  }
}
